
body{
    font-family: sans-serif;
    margin: 0;
}

.background{
  background-image: url(./img/pexels-photo-6347919.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
   padding-bottom: 10%;
   margin-top: 5%;
}


a{
    text-decoration: none;
    font-size: larger;
    font-family:sans-serif ;
}

.second-header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(236, 228, 223);
    box-shadow: 3px 2px 3px 2px black;
    padding: 10px;

}
.dropdowncontent {
    display: none;
    position: absolute;
    min-width: none;
    border-radius: 5px;
    border: 1px  solid black;
    background-color: white;
    cursor: pointer;
}

.dropdown:hover .dropdowncontent{
    display: block;
    
} 

.dropdowncontent a{
     padding: 5px 5px;
    color: rgb(46, 71, 63);
    text-decoration: none;
    display: block;
     cursor: pointer; 
}
a:hover{
    color : black;
    cursor:context-menu;
}
.anchorlink{
    display: flex;
    text-decoration-line: none;
    list-style: none;
    gap: 50px;
}

button{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    cursor: pointer;
} 

button:hover{
    background-color: rgb(233, 72, 13);

}

i{
    padding: 10px;
    font-size: 30px;
}