body{
  @media screen {
     max-width: 768px;
  }
}
body{

    margin: 0;
    font-family: sans-serif;
    
}

.header{
    display: flex;
    justify-content: space-around;
    justify-content: space-between;

    background-color: rgb(225, 222, 230);

    box-shadow: 2px 5px 5px 2px;

}

.second-header{
    display: flex;
    justify-content: space-between;

}

.anchorlink{
    display: flex;
    text-decoration-line: none;
    list-style: none;
    gap: 50px;
}

button{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    cursor: pointer;
} 

button:hover{
    background-color: rgb(233, 72, 13);

}

i{
    padding: 10px;
    font-size: 30px;
}

.backgroundimg-1{
    background-image: url(./IMG/ocean_pier_with_thatched_restaurant_at_dusk-full.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    color: white;
}

.child-1{
    background-image: url(./IMG/free-photo-of-charming-european-building-with-flowered-balconies.jpeg);
    width: 300px;;
    height: 250px;
    color: black;
    text-align: center;
    border-radius: 20px;
    border-color: black;
    border-style: solid;


}

.child-2{
  background-image: url(./IMG/free-photo-of-couple-walking-hand-in-hand-on-sandy-beach.jpeg);
    width: 300px;;
    height: 250px;
    color: black;
    text-align: center;
    border-radius: 20px;
    border-color: black;
    border-style: solid; 

}

.child-3{
  background-image: url(./IMG/free-photo-of-elegant-woman-in-chic-fashion-ensemble.jpeg);
    width: 300px;;
    height: 250px;
    color: black;
    text-align: center;
    border-radius: 20px;
    border-color: black;
    border-style: solid; 
    
}


.child-4{
  background-image: url(./IMG/free-photo-of-quoddy-head-lighthouse-in-coastal-maine.jpeg);
    width: 300px;;
    height: 250px;
    color: black;
    text-align: center;
    border-radius: 20px;
    border-color: black;
    border-style: solid; 
    
}

.parent{
    display: flex;
    justify-content: space-evenly;
}


.child-5{
    background-image: url(./IMG/pexels-photo-6347919.jpeg);
    width: 300px;;
    height: 250px;
    color: black;
    text-align: center;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    
}

.child-6{
  background-image: url(./IMG/pexels-photo-5462207.jpeg);
    width: 300px;;
    height: 250px;
    color: black;
    text-align: center;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
}

.child-7{
  background-image: url(./IMG/ocean_pier_with_thatched_restaurant_at_dusk-full.jpg);
    width: 300px;;
    height: 250px;
    color: black;
    text-align: center;
    border-radius: 20px;
    border-color: black;
    border-style: solid; 
    
}


.child-8{
  background-image: url(./IMG/free-photo-of-traditional-indian-dance-in-cultural-setting.jpeg);
    width: 300px;;
    height: 250px;
    color: black;
    text-align: center;
    border-radius: 20px;
    border-color: black;
    border-style: solid; 
}

.parent-2{
    display: flex;
    margin-top: 5%;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    font-size: larger;
    font-family:sans-serif ;
}

.third{
    text-align: center;
}
.dropdowncontent {
    display: none;
    position: absolute;
    min-width: none;
    border-radius: 5px;
    border: 1px  solid black;
    background-color: white;
    cursor: pointer;
}

.dropdown:hover .dropdowncontent{
    display: block;
    
} 

.dropdowncontent a{
     padding: 5px 5px;
    color: rgb(46, 71, 63);
    text-decoration: none;
    display: block;
     cursor: pointer; 
}
a:hover{
    color : black;
    cursor:context-menu;
}


div input{
    display: flex;
   padding: 15PX;

}

.father{
    background-color:orange ;
}

.btn{
    text-align: center; 
    display: flex; background-color: beige; color: brown;
    padding: 15px;
}

.blog-section {
    background-image: url(./img/pexels-photo-6347919.jpeg);
    height: 300px;
    width: 300px;
    position: relative;
        box-shadow: 5px 5px  5px 5px black;   
      
          animation: slideup 1.5s ease-out infinite alternate;
          @keyframes slideup {
        0%    {
       transform: translateY(30px);
       opacity: 0;
            }
            100%{
                transform:translateY(0)
                opacity:1;
            }
          }
} 

.text-content{
    position: absolute;
    bottom: 20px;
    left: 20px;
   text-align: center;
   @keyframes slideup{
    to
   }
   transform: translateY(0);
   opacity: 1;
}

.blog-section2 {
    background-image: url(./img/pexels-photo-5462207.jpeg);
    height: 300px;
    width: 300px;
    position: relative;
    box-shadow: 5px 5px  5px 5px black;
    
        animation: slideup 1.5s ease-out infinite alternate;
          @keyframes slideup {
        0%    {
       transform: translateY(30px);
       opacity: 0;
            }
            100%{
                transform:translateY(0)
                opacity:1;
            }
          }


    
}

.text-content{
    position: absolute;
    bottom: 20px;
    left: 20px;
   text-align: center;
}
 
.blog-section3{
    background-image: url(./img/pexels-photo-8131585.jpeg);
    height: 300px;
    width: 300px;
    position: relative;
        box-shadow: 5px 5px  5px 5px black;
    
       animation: slideup 1.5s ease-out infinite alternate;
          @keyframes slideup {
        0%    {
       transform: translateY(30px);
       opacity: 0;
            }
            100%{
                transform:translateY(0)
                opacity:1;
            }
          }

}

.text-content{
    position: absolute;
    bottom: 20px;
    left: 20px;
   text-align: center;
}
.blog-section :hover{
    transform: translateY(-10px);
}

 .blog-section2 :hover{
    transform: translateY(10px);
}

.blog-section3 :hover{
    transform: translateY(15px);
}

.footer {
  background: rgb(6, 6, 36);
  color: #fff;
  padding: 50px 20px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-box {
  flex: 1;
  min-width: 250px;
}

.footer-box h3 {
  color: orangered;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.footer-box p {
  margin: 10px 0;
}

.footer-box i {
  margin-right: 10px;
  color: white;
}

.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li {
  margin: 10px ;
}

.footer-box ul li i {
  color:white;
}

.social-icons {
  margin-top: 15px;
}

.social-icons a {
  display: inline-block;
  border: 2px solid white;

  text-align: center;
  line-height: 35px;
  margin-right: 8px;
  color: white;
}

.social-icons a:hover {
  background: orangered;
}

.newsletter {
  display: flex;
  margin-top: 15px;
}

.newsletter input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.footer-bottom {
  border-top: 2px solid gray;
  margin-top: 30px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  
}

.footer-links a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.footer-links a:hover {
  color: orangered;
}
